* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #cecccc;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  overflow: hidden;
  transition: 1s ease;
}

.game-container {
  position: relative;

  width: 45%;
  height: 30%;
  background-color: #ffffff;

  border: 1px solid gainsboro;
}

.game {
  position: absolute;
  bottom: 0;
  left: 50px;

  width: 50px;
  height: 50px;

  background-image: url(img/trex.png);
  background-size: 50px 50px;
}

.ground {
  position: absolute;
  bottom: -20px;

  width: 100%;
  height: 20px;
  background-color: #555;
}

.block {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 20px;
  height: 40px;
  background: url(img/cactus.png);
  background-size: 20px 40px;

  transition: ease 1s;
  /* animation: moveBlock linear infinite;  */
  /* animation-duration: 2s; */
}

@keyframes moveBlock {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}

.jump {
  animation: jumpD 500ms;
  animation-fill-mode: forwards;
}
@keyframes jumpD {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 90px;
  }
  75% {
    bottom: 45px;
  }
  100% {
    bottom: 0px;
  }
}

#gameOverScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  border-radius: 20px;
  color: rgba(255, 0, 0, 1);

  display: none;
}
.score {
  position: absolute;
  top: 10px;
  right: 20px;

  font-size: 1.4rem;
  color: black;
}
.high-score {
  position: absolute;
  top: 10px;
  left: 20px;

  font-size: 1.4rem;
  color: black;
}
.restart {
  padding: 10px 20px;
  font-size: 1.5rem;
  margin-top: 25px;

  cursor: pointer;
  border-radius: 3px;
  border: none;

  background-color: #555;
  color: white;
}
.restart:hover{
  background-color: hsl(0, 0%, 50%);
  color: rgb(2, 2, 2);
}