body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    line-height: 1.6;
}

/* CLICK BTN */
.button {
    background-color: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
}

.button:hover {
    background-color: rgb(101, 75, 66);
}

/* MODAL OUT */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

/* MODAL IN */
.modal-content {
    background-color: #f4f4f4;
    margin: 12% auto;
    /* padding: 20px; */
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.9), 0 7px 20px 0 rgba(197, 197, 197, 0.9);
    animation-name: modalOpen;
    animation-duration: 2s;
}

.modal-header {
    background-color: coral;
    padding: 15px;
    color: white;
}

.modal-header h1,
.modal-footer h3 {
    margin: 0;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background-color: coral;
    padding: 10px;
    color: white;
    text-align: center;
}

@keyframes modalOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* CLOSE BTN */
.closeBtn {
    color: white;
    font-size: 50px;
    float: right;
}

.closeBtn:hover {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}